In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('netflix_titles.csv')
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
data.show_id.str.len()

0       2
1       2
2       2
3       2
4       2
       ..
8802    5
8803    5
8804    5
8805    5
8806    5
Name: show_id, Length: 8807, dtype: int64

In [4]:
# we are taking the max value and used in sql for creating the place holding value.
max(data.title.str.len())

104

In [5]:
# only doing the max it shows the nan before doing the max we want to delete the na from the data.
max(data.cast.dropna().str.len())

771

In [6]:
data[data.show_id=='s4915']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4914,s4915,TV Show,海的儿子,NaN,"Li Nanxing, Christopher Lee, Jesseca Liu, Appl...",NaN,"April 27, 2018",2016,TV-14,1 Season,"International TV Shows, TV Dramas","Two brothers start a new life in Singapore, wh..."

In [7]:
import sqlalchemy as sal
engine=sal.create_engine('mssql://Varshaverma\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')

In [8]:
# conn=engine.connect()
# data.to_sql('netflix_data',con=conn,index=False,if_exists='append')
# conn.close

In [9]:
print(8807-15-6)

8786

In [10]:
print(8807-15)

8792

In [13]:
data.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64